<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DashboardWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FullScreenClock.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Model.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0814D46D2E8D4E7E0073412C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0814D47B2E8D4E7F0073412C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0814D4852E8D4E7F0073412C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08F230C12EB7B817007CB56A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
