//
//  Debug.xcconfig
//  BabyDashboard
//
//  Created by 류성두 on 11/5/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "Base.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.sungdoo.babyDashboard2.dev

// Development (Debug) identifiers
ICLOUD_CONTAINER_ID = iCloud.sungdoo.babyDashboard.dev
APP_GROUP_ID = group.sungdoo.babyDashboard.dev

// Optional: show "(Dev)" suffix in Debug only
INFOPLIST_KEY_CFBundleDisplayName = $(APP_NAME) (Dev)
BUNDLE_DISPLAY_NAME = $(APP_NAME) (Dev)

// Swift conditional compilation
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
